@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/montserrat-extrabold.woff2") format("woff2"),
    url("../fonts/montserrat-extrabold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
}


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit; // глобальный box-sizing
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feedback__container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 982px) {
  .feedback__container {
    max-width: none;
    padding: 0 3.516vw;
  }
}

@media (min-width: 1310px) {
  .feedback__container {
    max-width: 1310px;
    padding: 0 15px;
  }
}

.feedback__title {
  margin-top: 60px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #41baff;
}

.feedback__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
}

.feedback__info {
  padding: 0;
  margin: 0;
  padding-top: 18px;
  /*padding-bottom: 20px;*/
  list-style-type: none;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 14px;
  text-align: center;
}

.feedback__info-item {
  padding-bottom: 14px;
}

.feedback__info-item:not(:first-child) {
  display: none;
}

.feedback__highlight {
  color: #f65c1e;
}

.feedback__text {
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.1px;
}

.slider {
  position: relative;
}

.slider__container {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__wrap {
  display: flex;
  padding-bottom: 50px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.slider__dots {
  display: flex;
  justify-content: center;
}

.slider__dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  margin: 9px;
  padding: 0;
  border: 1px solid #f65c1e;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider__dot::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f65c1e;
  transition: transform 0.2s ease-in;
  transform: scale(0);
}

.slider__dot:focus {
  outline: none;
  opacity: 0.8;
}

.slider__dot:hover {
  opacity: 0.7;
}

.slider__dot:hover::before {
  transform: scale(0.5);
}

/*.slider__dot:active {
  background-color: #f65c1e;
}*/

.slider__dot--active {
  /*background-color: #f65c1e;*/
}

.slider__dot--active::before,
.slider__dot--active:hover::before {
  transform: scale(1);
}


.slider__dot--active:active {
  background-color: transparent;
}

.slider__btn {
  display: none;
  position: absolute;
  top: 33.33%;
  width: 23px;
  height: 43px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
  transition: fill 0.2s ease-in;
}

.slider__btn--prev {
  left: 32px;
  background-image: url(../img/chevron-left.jpeg);
}

.slider__btn--prev:hover {
  background-image: url(../img/chevron-left-active.jpeg);
}

.slider__btn--next {
  right: 32px;
  background-image: url(../img/chevron-right.jpeg);
}

.slider__btn--next:hover {
  background-image: url(../img/chevron-right-active.jpeg);
}

.slider__btn:focus {
  outline: none;
  opacity: 0.8;
}

.slider__btn:hover {
  fill: #41baff;
}

.slider__btn:active {
  opacity: 0.7;
}

.slider__slide {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

@media (min-width: 982px) {
  .feedback__title {
    margin-top: 100px;
    margin-bottom: 75px;
    font-size: 24px;
  }

  .feedback__head {
    padding-bottom: 28px;
    flex-direction: row;
    align-items: flex-start;
  }

  .feedback__head img {
    width: 114px;
    height: 114px;
    margin-right: 17px;
  }

  .feedback__info {
    padding-top: 25px;
    text-align: left;
  }

  .feedback__info-item:not(:first-child) {
    display: block;
  }  

  .slider__container {
    /*width: 784px;*/
    width: 82.235%;
    max-width: none;
    margin: 0 auto;
  }

  .slider__wrap {
    padding-bottom: 82px;
  }

  .slider__slide {
    width: 50%;
    padding: 0 34px;

  }

  .slider__btn {
    display: inline-block;
  }

  .feedback__text {
    margin-right: -5px;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: -0.1px;
  }
}

@media (min-width: 1310px) {
  .feedback__title {
    margin-top: 118px;
    margin-bottom: 94px;
    font-size: 30px;
  }

  .slider__container {
    width: auto;
    max-width: 1130px;
  }

  .slider__slide {
    /*width: 33.33%;*/
    width: 370px;
    padding: 0 32px;
  }

  .feedback__head img {
    width: 114px;
    height: 114px;
    margin-right: 17px;
  }

  .feedback__info {
    padding-top: 26px;
  }
}
